body{
  margin: 0;
  padding-top: 80px;
  padding-left: 170px;
  padding-right: 17px;
  background-color: rgb(248,248,248)
}
.header{
  background-color: rgb(101, 46, 168);
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color: rgb(228,228,228);
  z-index: 100;
}
.left-section{
  display: flex;
}
.nwu-pic{
  height: 100px;
  width: 120px;
  margin-left: 0;
  margin-right: 24px;
}
.right-section{
  display: grid;
  grid-template-rows: 1fr 1fr;
  color: white;

  text-align:left;
  margin-top: 18px;
}
.Logout-link{
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-size: 28px;
  font-family: Roboto, Arial;
  margin-top: 80px;
  margin-left: 55px;
  white-space: nowrap;
}
.Logout-link:hover{
  text-decoration: underline;
}

p{
  font-size: 15px;
  font-family: Roboto, Arial;
  margin-right: 100px;
  white-space: nowrap;  
}
.middle-section{
  display: flex;
  justify-content: center ;
  align-items: center;
}
h1{
  font-size: 45px;
  font-family: Roboto, Arial;
  color: rgba(204, 204, 204, 1);
}
.side-bar{
  position:fixed;
  background-color: rgb(101, 46, 168);
  left: 0;
  bottom: 0;
  top: 100px;
  width: 130px;
  z-index: 200;
}
.sidebar-link{
  min-height: 87px ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  background-color: rgba(186, 140, 235, 1);
  margin-bottom: 50px;
}
.sidebar-link:hover{
  background-color: rgb(235,235,235);
}
.sidebar-btn{
  min-height: 87px;
  width: 130px;
  background-color: rgba(186, 140, 235, 1);
}
.sidebar-btn:hover{
  background-color: rgb(143, 104, 185);
}
.sidebar-icons{
  height: 60px;
  margin-bottom: 4px;
}
.sidebar-text{
  color: White;
  font-size: 15px;
  font-family: Roboto, Arial; 
  white-space: nowrap;
}
h2{
  font-size: 40px;
}
.slider{
  width: 1140px;
  height: 500px;
  border-radius: 10px;
  overflow:hidden;
  margin-right: 100px;
 
 
}
.slides{
 width: 500%;
 height: 500px;
 display: flex;
}
.slides input{
 display: none;
}
.slide{
 width: 20%;
 transition: 2s;
 
}
.slide img{
 width: 1140px;
 height: 388px;
}
.navigation-manual{
 position: absolute;
 width: 1140px;
 margin-top: 5px;
 display: flex;
 justify-content: center;
 
}
.manual-btn{
 border: 2px solid #40D3DC;
 padding: 5px;
 border-radius: 10px;
 cursor: pointer;
 transition: 1s;
}
.manual-btn:not(:last-child){
 margin-right: 40px;
}
.manual-btn:hover{
 background-color: #40D3DC;
}
#radio1:checked ~ .first{
 margin-left: 0;
}
#radio2:checked ~ .first{
 margin-left: -20%;
}
#radio3:checked ~ .first{
 margin-left: -40%;
}
#radio4:checked ~ .first{
 margin-left: -60%;
}
.navigation-auto{
position: absolute;
display: flex;
width: 1140px;
justify-content: center;
margin-top: 5px;
}
.navigation-auto div{
 border: 2px solid  #40D3DC ;
 padding: 5px;
 border-radius: 10px;
 transition: 1s;
}
.navigation-auto div:not(:last-child){
 margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
 background-color: #40D3DC;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
 background-color: #40D3DC;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
 background-color: #40D3DC;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
 background-color: #40D3DC;
}
.title{
  position: absolute;
  display: block;
  margin-top: 338px;
  color: white;
  width: 1140px;
 
  height: 50px;
  
}
.title-link{
  color: white;
  padding-left: 400px;
  padding-top: 5px;
  text-decoration: none;
  font-size: 30px;
}
.title-link:hover{
  text-decoration: underline;
}
.Next-btn{
  width: 200px;
  height: 35px;
  font-size: 20px;
  background-color:  #337ab7;
  color: white;
  border-radius: 5px;


}



